body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0px;
  padding: 0px;

  width: 100vw;
  height: max(max-content, 100vh);
  
  display: flex;
  flex-direction: row;
}

#favorites-bar {
  width: 200px;
  background-color: lightgray;
  flex: auto;
  margin: 0px;
  padding: 0px;
}

#file-display {
  width: calc(100vw - 200px);
  margin: 0px;
  padding: 0px;
}

.favorites-folder-list-item, .file-display-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul {
  list-style-type: none;
}

object[data$=".svg"] {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

object[data$="folder.svg"] {
  filter: hue-rotate(200deg) brightness(200%);
}

object[data$="generic_file.svg"] {
  filter: grayscale(100%) brightness(400%);
}

li:first-child > object[data$=".svg"] {
  margin-top: 0.5rem;
}

li:last-child > object[data$=".svg"] {
  margin-bottom: 0.5rem;
}